
.scroll {
    height: calc(100vh - 60px);
    overflow: hidden;
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

#global-navbar {
    height: 60px;
}

#sidebar {
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    width: 200px;
}

#contig-table {
    width: 200px;
    height: 100%;
}

#viscontainer {
    position: fixed;
    height: calc(100vh - 60px);
    width: calc(100vw - 200px);
    top: 60px;
    left: 200px;
    overflow-y: scroll;
}

