
/*
main {
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    min-height: 600px;
}
*/

header {
    height: 50px;
}

#sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 10px;
}

#main {
    margin-left: 200px;
    padding: 0px 10px;
}

